<%= form_for(@test_stall) do |f| %>
  <% if @test_stall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_stall.errors.count, "error") %> prohibited this test_stall from being saved:</h2>

      <ul>
      <% @test_stall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uuid %><br>
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
